# Introduction to Deep Learning & Neural Networks with Keras
## Course Project

**Part A**

1. Use the Keras library to build a neural network with the following:
    - One hidden layer and a ReLU activation function
    - Use the **adam** optimizer and the **mean suqared error** as the loss function
    
2. Train the model on the training data using **50 epochs**
3. Evaluate the model on the test data and compute the mean squared error between the predicted conrete strength and the actual concrete strength. You can use the **mean_squared_error** function from Scikit-learn
4. Repeat steps 1 -3 **50 times**, i,e, create a list of **50** mean_squared errors.
5. Report the **mean and the standard deviation of the mean squared errors.**

In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np

##### Retrieve and load the concrete data into pandas

In [3]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

##### Let's build our features

In [4]:
X = concrete_data.drop('Strength', axis=1)

In [5]:
X

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360
...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28

##### Now we will build the targets

In [6]:
y = concrete_data['Strength']
y

0       79.99
1       61.89
2       40.27
3       41.05
4       44.30
        ...
1025    44.28
1026    31.18
1027    23.70
1028    32.77
1029    32.40
Name: Strength, Length: 1030, dtype: float64

##### Now that we have our features and our target values, it is time to create and run our regression

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
import keras
from keras.models import Sequential
from keras.layers import Dense

ModuleNotFoundError: No module named 'keras'

##### Let's define our model.
Below we have a simple function that will create a neural network containing the following; an input layer with m number of inputs, a hidden layer of 10 nodes and an output layer with 1 node.m

In [ ]:
def create_baseline_model(n_cols):
    model = Sequential()
    
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error', metrics=["accuracy", "mse"])
    
    return model

In [ ]:
mean_squared_errors = []

for k in range(0 , 50):
    
    # create a test and train split
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=k)
    
    model = create_baseline_model(X.shape[1])
    
    model.fit(X_train, y_train, epochs=50, validation_split=0.3 , verbose=2)
    
    test_scores = model.evaluate(X_test, y_test)
            
    mean_squared_errors.append(test_scores[2])

In [ ]:
print("The mean of the mean squared errors id ", np.array(mean_squared_errors).mean() )

In [ ]:
print("The standard deviation of the mean squared errors id ", np.array(mean_squared_errors).std() )