In [106]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import metrics
import keras
from sklearn.metrics import mean_squared_error

In [107]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [108]:
concrete_data.shape

(1030, 9)

In [109]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [110]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [111]:
concrete_data_columns = concrete_data.columns
x = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
y = concrete_data['Strength']

In [112]:
x.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

# PART A

## spliting the data into a training and test sets by holding 30% of the data for testing.

In [113]:
X_trainset, X_testset, y_trainset, y_testset = train_test_split(x, y, test_size=0.3, random_state=3)
X_trainset.shape

(721, 8)

In [114]:
from keras.models import Sequential
from keras.layers import Dense

## One hidden layer of 10 nodes, and a ReLU activation function
## "adam" optimizer and the mean squared error as the loss function.

In [115]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

## Training the model on the training data using 50 epochs.

In [116]:
model = regression_model()
model.fit(X_trainset, y_trainset, validation_data=(X_testset, y_testset),epochs=50, verbose=0)
scores = model.evaluate(X_testset, y_testset, verbose=2)
scores
print(scores)

251.49849076255626

In [117]:
yhat = model.predict(X_testset)

## mean_squared_error function from Scikit-learn.

In [118]:
mse = metrics.mean_squared_error(y_testset, yhat)
print("mean_squared_error: {}".format(mse))

mean_squared_error: 251.49848227628226

# PART B

In [119]:
x_norm = (x - x.mean()) / x.std()
n_cols = x_norm.shape[1]
print(n_cols)
x_norm.head()

8

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [120]:
X_trainset1, X_testset1, y_trainset1, y_testset1 = train_test_split(x_norm, y, test_size=0.3, random_state=3)
X_trainset1.shape

(721, 8)

In [121]:
model = regression_model()
model.fit(X_trainset1, y_trainset1, validation_data=(X_testset1, y_testset1),epochs=50, verbose=0)
scores = model.evaluate(X_testset1, y_testset1, verbose=2)
print("The new mean_squared_error after normalization is: {}".format(scores))

The new mean_squared_error after normalization is: 402.9596137877035

# PART C

In [122]:
model = regression_model()
model.fit(X_trainset1, y_trainset1, validation_data=(X_testset1, y_testset1),epochs=100, verbose=0)
scores = model.evaluate(X_testset1, y_testset1, verbose=2)
print("The new mean_squared_error after normalization with 100 epochs is: {}".format(scores))

The new mean_squared_error after normalization with 100 epochs is: 166.6079004775359

# PART D

In [123]:
def regression_model_D():
    # create model
    model_D = Sequential()
    model_D.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model_D.add(Dense(10, activation='relu'))
    model_D.add(Dense(10, activation='relu'))
    model_D.add(Dense(1))
    
    # compile model
    model_D.compile(optimizer='adam', loss='mean_squared_error')
    return model_D

In [124]:
model_D = regression_model_D()
model_D.fit(X_trainset1, y_trainset1, validation_data=(X_testset1, y_testset1),epochs=50, verbose=0)
scores = model_D.evaluate(X_testset1, y_testset1, verbose=2)
print("The new mean_squared_error after normalization and 3 hidden layer is: {}".format(scores))

The new mean_squared_error after normalization and 3 hidden layer is: 139.52231230010491